.alert{
    color: red;
}

.form-group{
    position: fixed;
    width: 95%;
    height: 85%;
    left: 2%;
    top: 10%;
    outline-color: #1E8301;
    outline-style: double;
    outline-width: 10px;
}

.guestButton{
    margin-left:20px;
}

.submitButton{
    margin-left:15px;
}

/*.a0{
    color: red;
}

.a1{
    color: blue;
    margin-left:33%;
}

.a2{
    color: green;

}*/