<button mat-raised-button (click)="logout()">Logout</button>
<mat-divider></mat-divider>
<button mat-raised-button routerLink="/web/workorders/all">Work Orders</button>
<button mat-raised-button routerLink="/web/violations">Violations</button>
<button mat-raised-button routerLink="/web/tickets">Action Items</button>
<button mat-raised-button routerLink="/web/entries">Recent Entries</button>
<button mat-raised-button routerLink="/web/approveUser">Approve Users</button>
<table-ui-guests></table-ui-guests>