<form [formGroup]="formGroup">
  <div class="column">
    <mat-card class='ticket-detail-card'>
      <div class="form-group"> 
    
        <mat-form-field class="example-full-width">
              <input 
                class="form-control"
                formControlName="address"
                matInput 
                placeholder="Address" 
                value="{{addressValue}}"
                required>
                <mat-error *ngIf=true>
                  Address is required
                </mat-error>
        </mat-form-field>
                
        <mat-form-field>
          <mat-select 
            class="form-control"
            formControlName="type"
            placeholder="Type of the violation"
            required>
            <mat-option 
              *ngFor="let type of types" 
              [value]="type.value">
              {{ type.viewValue }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf=true>
            Type is required
          </mat-error>
        </mat-form-field>
                    
        <mat-form-field>
          <input 
            class="form-control"
            formControlName="createDate"
            matInput 
            placeholder="Todays Date" 
            value="{{dateValue}}"
            required>
            <mat-error *ngIf=true>
              createDate is required
            </mat-error>
        </mat-form-field>
      
        <mat-form-field>
          <mat-select 
            class="form-control"
            formControlName="status"
            placeholder="Status of the violation"
            required>
            <mat-option 
              *ngFor="let status of statuses" 
              [value]="status.value">
              {{ status.viewValue }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf=true>
            Status is required
          </mat-error>
        </mat-form-field>
      
        <mat-form-field class="example-full-width">
            <input 
              class="form-control"
              formControlName="responsibleManager"
              matInput 
              placeholder="Responsible Manager" 
              value="{{responsibleManagerValue}}"
              required>
              <mat-error *ngIf=true>
                Responsible manager is required
              </mat-error>
          </mat-form-field>
            
        <mat-form-field class="example-full-width">
          <input 
            class="form-control"
            formControlName="fine"
            matInput 
            placeholder="Fine" 
            value="{{fineValue}}">
        </mat-form-field>
      
        <mat-form-field class="example-full-width">
            <input 
              class="form-control"
              formControlName="notes"
              matInput 
              placeholder="Notes" 
              value="{{notesValue}}">
        </mat-form-field>
      
        <button *ngIf="displayEdit" mat-raised-button type="button" (click)="submit(formGroup)">Submit</button>
        <button mat-raised-button type="button" (click)="back()">Back</button>  
        <button *ngIf="displayEdit" mat-raised-button type="button" (click)="delete()">Delete</button>
            
      </div> 
    </mat-card>
  </div>
</form>

<div ng-app="addPhotos" *ngIf="displayEdit">
  <div class="column">
    <mat-card class='ticket-add-picture-card'>
      <h3>Add Photos</h3>
      <input type="file" (change)="imageChange($event)" placeholder="Upload pictures related to this task" value={{file}}>
      <button (click)="imageSubmit()" [disabled]="imageReadyToSubmit">submit Image</button>
    </mat-card> 
  </div> 
</div>

<div ng-app="existingPhotos">
  <div class="column">
    <mat-card class='ticket-picture-card'>
      <h3>Photos</h3>
      <img *ngFor="let image of storedImages" src={{image}}>
    </mat-card> 
  </div> 
</div> 